@model IEnumerable<UsersManager.Models.Photo>
@{ ViewBag.Title = "Index"; }

<h2>Page d'application</h2>

@foreach (var photo in Model)
{
    <div>
      @photo.User.GetFullName() <b>@photo.Title</b> @photo.GetUrl()
    </div>
}